<body class="centered-form">
    <div class="centered-form__form">

        <div class="form-field">
            <h3>Join a Chat<h3>
        </div>

        <a href="/auth/google">
            <img id="loginBtnImg" src="/img/sign-in-with-google.png" alt="Sign-In with Google">
        </a>


    </div>
</body>